@import url('https://fonts.googleapis.com/css2?family=Allison&family=Roboto+Mono:wght@300&display=swap');
html,body{
    background-image: url('https://images.unsplash.com/photo-1510936111840-65e151ad71bb?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1967&q=80');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    }    
.card{
    height: 440px;
    margin-top: auto;
    margin-bottom: auto;
    width: 400px;
    background-color:transparent;
}
.card-header{
    color: #fff;
    font-size:30px;
    font-family:'Roboto Mono', monospace;
}
.container{
    height: 100%;
    align-content: center;
    }
.card-body .form-group{
    color: #ffff;
}
.card-footer .links{
    color: whitesmoke;
}
.btn-block{
    background-color:transparent;
    color: #fff;
}
.btn-block:hover{
    background-color:rgb(250, 246, 246);
    color: rgb(19, 18, 18);
}
    